.container__home {
  background-color: #00224D;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: scroll;
}

.list {
  background-color: rgba(5, 65, 108, 0.42);
}


ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Set flex direction to column */
    align-items: center; /* Center items horizontally */
  }
  
  li {
    margin-bottom: 10px; /* Adjust margin between list items */
  }
  
  li p {
    display: inline; /* Display paragraph inline with the button */
    margin-right: 10px; /* Adjust margin between paragraph and button */
    color: white;
    
  }

  .first {
    font-weight: bold;
  }
  
  li button {
    padding: 5px 10px;
    background-color: #007bff; /* Set your desired button background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  li button:hover {
    background-color: #0056b3; /* Set your desired button hover background color */
  }

  /* List */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

/* Question */
.question {
  font-weight: bold;
}

/* Answer */
.answer {
  margin-top: 5px;
}

.loading {
  font-style: italic;
  color: #888;
}

.tagline {
  text-align: center;
  margin-top: 35px;
  color: white;
}

.question-answer-container {
  border: 1px solid #ffffff; /* You can adjust the border style and color */
  padding: 10px; /* Adjust padding as needed */
}

.error-message {
  color: rgba(208, 7, 7, 0.873);
  font-size: 14px;
  margin-top: 5px;
}

.search_route {
  color: white;
  margin-top: 10px;
  margin-left: 5px;
  text-decoration: none; 
  background-color: rgba(7, 208, 244, 0.788);
}

.search_route:hover {
  background-color: rgba(0, 103, 105, 0.831);
  color: white;
}

  
  