/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* .login-container {
  background-color: #cbd10cb1;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 16px;
}

label {
  font-size: 14px;
  margin-bottom: 6px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #0070e0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0054a8;
} */

.error-message {
  color: red; /* Set your desired error message color */
  font-size: 14px; /* Set your desired font size */
  margin-top: 5px; /* Adjust margin as needed */
}

.login__container {
  width: 90%;
  margin-top: 30px;
  max-width: 400px;
  margin: 100px auto;
  background-color: #5de50ecb;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login__container h2 {
  text-align: center;
  color: #131111d7;
  margin-bottom: 10px;
}
